{% extends 'themain.html' %}
{% load static %}
{% static "product_picture" as baseUrl %}
{% block title %} Login {% endblock %}
{% load socialaccount %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-body p-4">
                    <h2 class="mb-4 text-center">Login</h2>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email" class="form-label"> Username</label>
                            <input type="text" class="form-control" id="email" name="username"
                                placeholder="Enter your email">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Password">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a href="{% provider_login_url 'google' %}?next=/" class="btn btn-google btn-block">
                            <i class="fab fa-google"></i> Login with Google
                        </a>
                    </div>
                    <hr>
                    <div class="text-center">
                        <p>Don't have an account? <a href="{% url 'userreg' %}">Sign up</a></p>
                        <p>Forgot your password? <a href="#">Reset it</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}