{% load static %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand brdr " href="{% url 'home' %}">Noiya Bazar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item brdr ">
          <a class="nav-link " aria-current="page" href="#"> <span class="username">{{ user.username}}</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}" tabindex="-1">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}" tabindex="-1">Login</a>
        </li>
        {% endif %}
      </ul>


      <div class="">
        <form class="d-flex" action="{% url 'search' %}" method="post">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search" name="query" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>


      <ul class="navbar-nav ms-2">
        <li class="nav-item  cstm_cart_icn">
          <a class="nav-link" href="{% url 'cart' %}">
            <i class="fas fa-shopping-cart cart-icon"></i><sup class="text-success">{{ cartsproduct.count}}</sup>
          </a>
        </li>
      </ul>


      
      {% if user.is_staff %}
      <ul class="navbar-nav ms-2">
        <li class="nav-item  cstm_cart_icn">
          <a class="nav-link" href="{% url 'vendorprofile' %}">
            <i class="fa-regular fa-user"></i> </a>
        </li>
      </ul>
      
      {% endif %}
    </div>
  </div>
</nav>

